{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Mon tableau de bord</h1>
        <p class="lead">Bienvenue à la Currotek! Administrateur!</p>
    </div>

{% endblock %}